*{
    margin: 0;
    padding: 0;
}

/*
 #2B6CB0
 #EDF2F7
 #4A5568
 #2D3748
*/

body{
    background-color: #EDF2F7;
}

header{
    width: 100%; 
    height: 80px;
    background-color: #2B6CB0;
    display: flex;
}

header > div {/*Aqui los hijos inmediatos que sean de Header ocupan el 50%  cada uno*/
    width: 50%;
}

.logo{/*cuando empieza con . es una clase de css que se puede reutilizar*/
    width: 50px;/*Aqui el tama;o del logo 50*50px*/
    margin-left: 20px;/*20 pixeles de izquierda a derecha*/
}

nav{/*este es el 50 del header*/
    display: flex;/*hace que el contenido crezca horizontalmente*/
    justify-content: flex-end; /*lo enviamos al fondo*/
    height: 100%;/*con esto decimos que el nav ocupa todo el alto del header*/
    align-items: center;/*con esto alineamos el nav verticalmente pero necesitamos primero darlo el 100% como la linea de arriba*/


}

nav > ul{/**/
    margin-right: 30px;
}

nav > ul > li{/*cada uno de los elementos de la lista*/
    display: inline;/*con esto los elementos quedan uno al lado del otro*/
    margin-left: 5px;/*con esto separo los elemtos 5px uno del otro*/
}

nav > ul > li > a{/*con esto llegamos a los a del nav*/
    color: white;/*color */
    text-decoration: none;/*y le quitamos el subrayado*/
}

.contenedor_logo{/*.contendedor_logo porque es una clase*/
    display: flex;/*aqui no funciona heigth100% porque es un div*/
    /*height: 100%;*/
    align-items: center;/*alineamos verticalmente*/
}

#contenido{/*#contendor porque el dic tiene un id llamado contenido*/
    width: 80%;/*ancho en % de div padre*/
    margin: 10px auto;/*la propiedad margin establece los magenes top,right,bottom,left*/
    min-height: 100vh;/*hace que el footer siempre quede abajo, saca el alto de laparte superior de la pantalla hasta el borde inferior de la pantalla, no importa la resolucion, en este caso se aumentan los 80px del header por ello queda 80px mas abajo*/
}

.productos{/*porque es clase por eso el punto*/
    display: flex;
    flex-wrap: wrap;/*hace que los elementos tomen un ancho para que no se deformen*/
}

.productos .producto {/*aqui porque es la clase hijo (.producto) de clase padre (.producto)*/
    width: 25%;
    margin-top: 10px;
}

.productos .producto img{
    width: 100%;/*toma el 100% del pad*/
    height: 300px;/*tamaño de 300px de alto, pero estira las imagenes verticalmente*/
    object-fit: contain;/*con esto la imagen no se deforma*/
}

.productos .producto .contenedor{
    width: 80%;
    background-color: white;
    margin: auto;/*margen, crea un espacio entre los elementos, osea espacio fuera del elelemtno*/
                    /*Este se modifico para el responsive de los celulares para que quede centrado*/
}

.productos .producto .contenedor .detalles{
    padding: 10px;/*crea un espacio dentro del elemento*/
}
/**/
footer{
    height: 300px;
    background-color:  #2D3748;
}

footer .marcas {
    width: 100%;
    height: 80px;
    background-color: #4A5568;
    display: flex;/*hace que el contenido crezca horizontalmente*/
    justify-content: space-around;/**/
    align-items: center;
}

footer .logo {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;/*centra verticalmente*/
    height: calc(100% - 80px);/*calcula que al 100% del padre le resta 80px de la clase marcas*/
}

footer > .marcas > img {
    width: 45px;/*ancho de 45px*/
}

footer > .logo > img {
    width: 100px;
}

.menu{/*para el menu hamburguesa*/
    width: 40px;/*ancho*/
    position: absolute;/*sin este va a ocupar espacio verticcalmente, cuando se pone absolute es como sino ocupara el espacio vertical queda como flotando*/
    left: 10px;/*coordenadas, va a quedar a 10px del borde izquierdo */
    top: 10px;/*coordenadas, va a quedar a 10px del borde superior */
    display: none;/*con esta propiedad, hacemos que no se vea en escritorio, solo queremos que se vea en smartphone*/
}

label.error {/*para los mensajes de validacion del formulario*/
    color: darkred;
}

input.error, select, textarea{/**/
    border: 1px solid darkred;/*queda con un borde rojo*/
}
/*AQUI COMIENZA EL RESPONSIVE*/
/*MEDIA QUERIES*/

/*TABLET*/
@media (max-width: 1024px){
    .productos .producto{
        width: 50%;
    }
}

/*SMARTPHONE*/
@media (max-width: 480px){
    .menu{/*con esta propiedad hacemos que el menu hamburguesa aparezca cuando sea smartphone*/
        display: block;
    }

    .productos .producto{
        width: 100%;
    }

    header {/*para que no se deforme el header*/
        flex-direction: column;/**/
        height: 90px;/*en modo smartphone, queremos que el header inicie la hamburguesa cerrada, por ello le damos 90px de altura*/
        overflow: hidden; /*con la propiedad hidden ocultamos todo lo quede por fuera del header como la ul del nav*/
        transition: all 0.8s;
    }

    header > div {
        width: 100%;/*como los div tenian 50% cada uno, entonces al intentar centrar el logo ahora, solo se centraba de del 50% por ello ahora se le da un ancho de 100% a cada div del header*/
    }

    header .contenedor_logo{
        justify-content: center;/*para centrar pero ojo al comentario de arriba*/
    }

    header .logo{/*margen supeior logo*/
        margin-top: 10px;
    }

    nav{
        justify-content: center;/*para escritorio tiene un justify-content end, ahora va a estar centrado*/
    }
    nav > ul{
        margin: 0;
    }

    nav > ul > li {/*para los elementos de la lista*/
        display: block;
        padding: 10px 0;
        text-align: center;
    }
}